body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 150, 0);
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}



.displayNone {
    display: none !important;
}

.headline {
    font-size: 48px;
    letter-spacing: 5px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5)
}

.closeButton {
    position: absolute;
    right: 0;
    top: 0;
    color: #FF9600;
    cursor: pointer;
}


canvas {
    background-color: black;
    display: block;

}


.buttonDescription {
    max-width: 720px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    z-index: 2;
}


.startScreen {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}


.endScreen {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}


.buttonContainer {
    position: relative;
    z-index: 2;
    top: 50vh;
}


.startButton {
    cursor: pointer;
}


.infoButton {
    cursor: pointer;
}


.infoContainer {
    position: relative;
    top: 25vh;
    z-index: 3;
    color: #ffc068;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 30vh;
    min-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding: 16px;
}


.loadingScreenContainer {

    height: 99.5%;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}


.loadingScreen {
    height: 100%;
    width: 100%;
}


.progressContainer {
    z-index: 10;
    position: absolute;
    top: 100vh;
    left: 10%
}


.progress0 {
    position: absolute;
    top: -12vh;
    width: 80vw;
    height: 3.5vw;
}

.mobileButtonContainer {
    margin-top: -54px;
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
}

.mobileButtonLeft {
display: flex;
}

.mobileButtonRight {
    display: flex;

}

    .mobileButton {
        background-color: #FF9600;
    border-radius: 32px;
    height: 36px;
    display: flex;
    margin: 0px 16px 0px 16px;
    z-index: 2;
}
    


/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .buttonDescreption {
        width: 100%;
    }

}


/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .headline {
        display: none;
    }

    .buttonDescription {
        width: 100%;
        display: none;
    }
}