body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 150, 0);
    margin: 0;
}

.displayNone {
    display: none !important;
}

.closeButton {
    position: absolute;
    right: 0;
    top: 0;
    color: #FF9600;
    cursor: pointer;
}



canvas {
    background-color: black;
    display: block;

}

.buttonDescription {
    max-width: 720px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.startScreen {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}


.endScreen {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

.buttonContainer {
    position: relative;
    z-index: 2;
    top: 50vh;
}

.startButton {
    cursor: pointer;
}

.infoButton {
    cursor: pointer;
}

.infoContainer {
    position: relative;
    top: 35vh;
    z-index: 3;
    color: #ffc068;
    background-color: rgba(0, 0, 0, 0.7);
    height: 30vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loadingScreenContainer {

    height: 99.5%;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;

}

.loadingScreen {
    height: 100%;
    width: 100%;
}



.progressContainer {
    z-index: 10;
    position: absolute;
    top: 100vh;
    left: 10%
}



.progress0 {
    position: absolute;
    top: -12vh;
    width: 80vw;
    height: 3.5vw;
}



/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .buttonDescreption {
        width: 100%;
    }

}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .headline {
        display: none;
    }

    .buttonDescription {
        width: 100%;
        display: none;
    }
}